.link-holder {
  top: 0;
  width: 100%;
}

.link-holder,
.links {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  gap: 20px;
  font-size: 0.813rem;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
}

.navContainer {
  display: flex;
  background-color: #fff;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: bold;
  padding: 1.313rem 6.25rem 1.313rem 6.25rem;
}

a {
  color: black;
}

.store a {
  font-weight: 600;
  color: #0290ff;
  font-size: 1.875rem;
}

.Cate a {
  color: gray;
}

.oval {
  margin: 5px 0 5px 0;
  border: solid 2px #e8e8e8;
  border-radius: 50px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 40px;
}
